In [7]:
import pandas as pd

# Cargar el dataset

df = pd.read_csv(r'C:\Users\ANDRES\Cursos\Curso de Python para Ciencia de Datos\BD.csv',
                         encoding="ISO-8859-1",
                         delimiter=";",
                         dtype={ "AXLE_TYPE_7": str, "AXLE_TYPE_8": str, "AXLE_TYPE_9": str, "AXLE_TYPE_10": str, "AXLE_TYPE_11": str, "AXLE_TYPE_12":str})

df

,Source.Name,SITE_NUMBER,SITE_ID,SERIAL_NUMBER,DATE,TIME,TimeString,LANE,LANE_DETAILS,DIRECTION,...,AX_SP22,AX_SP23,AX_SP24,FRONT_MIN_CHASSIS,FRONT_MAX_CHASSIS,MIDDLE_MIN_CHASSIS,MIDDLE_MAX_CHASSIS,REAR_MIN_CHASSIS,REAR_MAX_CHASSIS,LOOP_ON_TIME
0,"domingo, nov 5 2023.mdb",10276,10276,513124,5/11/2023 0:00,0/01/1900 0:24,00:24:56:988,1,NORTH,NORTHBOUND,...,NaN,NaN,NaN,7,42,35,45,2,33,244.0
1,"domingo, nov 5 2023.mdb",10276,10276,513125,5/11/2023 0:00,0/01/1900 0:25,00:25:11:211,1,NORTH,NORTHBOUND,...,NaN,NaN,NaN,6,57,61,93,3,53,284.0
2,"domingo, nov 5 2023.mdb",10276,10276,513126,5/11/2023 0:00,0/01/1900 0:25,00:25:16:448,1,NORTH,NORTHBOUND,...,NaN,NaN,NaN,7,44,43,53,5,41,348.0
3,"domingo, nov 5 2023.mdb",10276,10276,513127,5/11/2023 0:00,0/01/1900 0:25,00:25:25:233,2,SOUTH,SOUTHBOUND,...,NaN,NaN,NaN,5,20,17,22,6,17,348.0
4,"domingo, nov 5 2023.mdb",10276,10276,513128,5/11/2023 0:00,0/01/1900 0:25,00:25:34:346,2,SOUTH,SOUTHBOUND,...,NaN,NaN,NaN,8,47,43,80,3,40,300.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
537250,"viernes, oct 27 2023.mdb",10276,10276,387294,27/10/2023 0:00,0/01/1900 23:58,23:58:44:169,1,NORTH,NORTHBOUND,...,NaN,NaN,NaN,5,18,19,29,5,19,352.0
537251,"viernes, oct 27 2023.mdb",10276,10276,387295,27/10/2023 0:00,0/01/1900 23:58,23:58:45:418,1,NORTH,NORTHBOUND,...,NaN,NaN,NaN,5,18,13,23,4,13,432.0
537252,"viernes, oct 27 2023.mdb",10276,10276,387296,27/10/2023 0:00,0/01/1900 23:58,23:58:54:243,1,NORTH,NORTHBOUND,...,NaN,NaN,NaN,7,32,25,33,8,26,508.0
537253,"viernes, oct 27 2023.mdb",10276,10276,387297,27/10/2023 0:00,0/01/1900 23:58,23:58:58:007,1,NORTH,NORTHBOUND,...,NaN,NaN,NaN,8,39,31,51,3,29,320.0
537254,"viernes, oct 27 2023.mdb",10276,10276,387298,27/10/2023 0:00,0/01/1900 23:59,23:59:46:343,2,SOUTH,SOUTHBOUND,...,NaN,NaN,NaN,7,19,16,20,3,16,288.0

In [9]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 537255 entries, 0 to 537254
Columns: 109 entries, Source.Name to LOOP_ON_TIME
dtypes: float64(64), int64(25), object(20)
memory usage: 446.8+ MB
None

In [10]:
print(df.head)

<bound method NDFrame.head of                      Source.Name  SITE_NUMBER  SITE_ID  SERIAL_NUMBER  \
0        domingo, nov 5 2023.mdb        10276    10276         513124
1        domingo, nov 5 2023.mdb        10276    10276         513125
2        domingo, nov 5 2023.mdb        10276    10276         513126
3        domingo, nov 5 2023.mdb        10276    10276         513127
4        domingo, nov 5 2023.mdb        10276    10276         513128
...                          ...          ...      ...            ...
537250  viernes, oct 27 2023.mdb        10276    10276         387294
537251  viernes, oct 27 2023.mdb        10276    10276         387295
537252  viernes, oct 27 2023.mdb        10276    10276         387296
537253  viernes, oct 27 2023.mdb        10276    10276         387297
537254  viernes, oct 27 2023.mdb        10276    10276         387298

                   DATE             TIME    TimeString  LANE LANE_DETAILS  \
0        5/11/2023 0:00   0/01/1900 0:24  00:24:56:988     1        NORTH
1        5/11/2023 0:00   0/01/1900 0:25  00:25:11:211     1        NORTH
2        5/11/2023 0:00   0/01/1900 0:25  00:25:16:448     1        NORTH
3        5/11/2023 0:00   0/01/1900 0:25  00:25:25:233     2        SOUTH
4        5/11/2023 0:00   0/01/1900 0:25  00:25:34:346     2        SOUTH
...                 ...              ...           ...   ...          ...
537250  27/10/2023 0:00  0/01/1900 23:58  23:58:44:169     1        NORTH
537251  27/10/2023 0:00  0/01/1900 23:58  23:58:45:418     1        NORTH
537252  27/10/2023 0:00  0/01/1900 23:58  23:58:54:243     1        NORTH
537253  27/10/2023 0:00  0/01/1900 23:58  23:58:58:007     1        NORTH
537254  27/10/2023 0:00  0/01/1900 23:59  23:59:46:343     2        SOUTH

         DIRECTION  ...  AX_SP22  AX_SP23  AX_SP24  FRONT_MIN_CHASSIS  \
0       NORTHBOUND  ...      NaN      NaN      NaN                  7
1       NORTHBOUND  ...      NaN      NaN      NaN                  6
2       NORTHBOUND  ...      NaN      NaN      NaN                  7
3       SOUTHBOUND  ...      NaN      NaN      NaN                  5
4       SOUTHBOUND  ...      NaN      NaN      NaN                  8
...            ...  ...      ...      ...      ...                ...
537250  NORTHBOUND  ...      NaN      NaN      NaN                  5
537251  NORTHBOUND  ...      NaN      NaN      NaN                  5
537252  NORTHBOUND  ...      NaN      NaN      NaN                  7
537253  NORTHBOUND  ...      NaN      NaN      NaN                  8
537254  SOUTHBOUND  ...      NaN      NaN      NaN                  7

       FRONT_MAX_CHASSIS  MIDDLE_MIN_CHASSIS  MIDDLE_MAX_CHASSIS  \
0                     42                  35                  45
1                     57                  61                  93
2                     44                  43                  53
3                     20                  17                  22
4                     47                  43                  80
...                  ...                 ...                 ...
537250                18                  19                  29
537251                18                  13                  23
537252                32                  25                  33
537253                39                  31                  51
537254                19                  16                  20

        REAR_MIN_CHASSIS  REAR_MAX_CHASSIS  LOOP_ON_TIME
0                      2                33         244.0
1                      3                53         284.0
2                      5                41         348.0
3                      6                17         348.0
4                      3                40         300.0
...                  ...               ...           ...
537250                 5                19         352.0
537251                 4                13         432.0
537252                 8                26         508.0
537253                 3                29         320.0
537254                 3                16         288.0

[537255 rows x 109 columns]>

In [12]:
print(df.describe())

       SITE_NUMBER   SITE_ID  SERIAL_NUMBER           LANE  DIRECTION_NUMBER  \
count     537255.0  537255.0  537255.000000  537255.000000     537255.000000
mean       10276.0   10276.0  323661.536535       1.458043          1.432936
std            0.0       0.0  160145.474188       0.498237          0.495482
min        10276.0   10276.0   40790.000000       1.000000          1.000000
25%        10276.0   10276.0  186959.500000       1.000000          1.000000
50%        10276.0   10276.0  321294.000000       1.000000          1.000000
75%        10276.0   10276.0  466562.500000       2.000000          2.000000
max        10276.0   10276.0  600879.000000       2.000000          2.000000

               SPEED      SPEED_MPH    CLASS_INDEX         LENGTH  \
count  537255.000000  537255.000000  537255.000000  537255.000000
mean       59.121935      36.988160       6.669276     428.016884
std        12.647668       7.917073      20.113371     294.238803
min         3.000000       2.000000       0.000000      50.000000
25%        52.000000      32.000000       1.000000     328.000000
50%        59.000000      37.000000       2.000000     369.000000
75%        66.000000      41.000000       2.000000     421.000000
max       250.000000     157.000000     120.000000    3996.000000

               AXLES  ...  AX_SP22  AX_SP23  AX_SP24  FRONT_MIN_CHASSIS  \
count  537255.000000  ...      0.0      0.0      0.0      537255.000000
mean        2.097734  ...      NaN      NaN      NaN           5.448582
std         0.596248  ...      NaN      NaN      NaN           2.257227
min         0.000000  ...      NaN      NaN      NaN           0.000000
25%         2.000000  ...      NaN      NaN      NaN           4.000000
50%         2.000000  ...      NaN      NaN      NaN           5.000000
75%         2.000000  ...      NaN      NaN      NaN           7.000000
max        12.000000  ...      NaN      NaN      NaN         124.000000

       FRONT_MAX_CHASSIS  MIDDLE_MIN_CHASSIS  MIDDLE_MAX_CHASSIS  \
count      537255.000000       537255.000000       537255.000000
mean           40.159561           32.103322           64.129171
std            22.456315           20.109821           37.511967
min             1.000000            0.000000            0.000000
25%            27.000000           18.000000           36.000000
50%            38.000000           30.000000           61.000000
75%            51.000000           44.000000           92.000000
max           197.000000          135.000000          200.000000

       REAR_MIN_CHASSIS  REAR_MAX_CHASSIS   LOOP_ON_TIME
count     537255.000000     537255.000000  504801.000000
mean           4.669418         33.623579     398.894558
std            4.677099         21.989156     240.272138
min            0.000000          0.000000     136.000000
25%            2.000000         19.000000     292.000000
50%            3.000000         30.000000     352.000000
75%            6.000000         45.000000     424.000000
max           91.000000        196.000000    9436.000000

[8 rows x 89 columns]

In [13]:
df.isnull().sum()

Source.Name               0
SITE_NUMBER               0
SITE_ID                   0
SERIAL_NUMBER             0
DATE                      0
                      ...
MIDDLE_MIN_CHASSIS        0
MIDDLE_MAX_CHASSIS        0
REAR_MIN_CHASSIS          0
REAR_MAX_CHASSIS          0
LOOP_ON_TIME          32454
Length: 109, dtype: int64

In [15]:
df.duplicated().sum()

np.int64(0)